black
python-dotenv
slack-bolt
openai
notion-client
md2notionpage
cachetools
requests
notion2md
langchain-community
langchain-openai
langgraph
langchain-google-community
tavily-python
beautifulsoup4
playwright
lxml
aiohttp
browser-use
markdown
pypandoc_binary
tabulate
tabulate[widechars]