black
python-dotenv
slack-bolt
openai
notion-client==2.7.0
md2notionpage
cachetools
requests
notion-to-md-py @ git+https://github.com/team-monolith-product/notion-to-md-py.git@main
langchain-community
langchain-openai
langchain-anthropic
langgraph
langchain-google-community
tavily-python
beautifulsoup4
lxml
aiohttp
browser-use
markdown
pypandoc_binary
tabulate[widechars]
redis
PyGithub
pytest
pytest-asyncio
fastapi
uvicorn[standard]
pydantic
boto3
pandas
matplotlib
anthropic
