name: Build Workflow Automation Slack

on:
  push:
    branches: [ main ]

jobs:

  build:
    uses: team-monolith-product/tmn-gh-actions/.github/workflows/build.yml@main
    with:
      env: prd
      target: main
      awsImageName: jce-ecr-workflow-automation-slack-all-prd
      awsValueFilePath: workflow-automation-slack/aws-apne2-prd-service.yaml
    secrets:
      MACHINE_TOKEN: ${{ secrets.MACHINE_TOKEN }}
