name: Build Workflow Automation Slack

on:
  push:
    branches: [ develop ]

jobs:

  build:
    uses: team-monolith-product/tmn-gh-actions/.github/workflows/build_v2.yml@main
    permissions:
      id-token: read
      contents: read
    with:
      env: prd
      target: main
      updateTargets: |
        {
          "aws": {
            "imageName": "jce-ecr-workflow-automation-slack-all-prd",
            "valueFilePath": ["workflow-automation-slack/aws-apne2-prd-service.yaml"]
          }
        }
    secrets:
      MACHINE_TOKEN: ${{ secrets.MACHINE_TOKEN }}
